{% set monthName = ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'] %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'blog.side.archive.header'|trans }}</h3>
    </div>
    <ul class="list-group">
        {% for month in months %}
            <li class="list-group-item">
                <a href="{{ path('blog.archive', { year: month.year, month: month.month }) }}">{{ monthName[month.month - 1] }} {{ month.year }}</a>
            </li>
        {% endfor %}
    </ul>
</div>