<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'blog.side.tags.header'|trans }}</h3>
    </div>
    <div class="panel-body">
        {% for tag in tags %}
            <a href="{{ path('blog.tag', { id: tag.id }) }}">
                <span class="label label-default">{{ tag.name }}</span>
            </a>
        {% endfor %}
    </div>
</div>